<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Massango</title>
    <meta content="Massangoとは、趣味で作成されたただのサイトです。APKファイルのダウンロードや、自動計算機、MAGsなどのサービスを公開しています。" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="Massangoとは、趣味で作成されたただのサイトです。APKファイルのダウンロードや、自動計算機、MAGsなどのサービスを公開しています。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer/footer.css">
    
    <!--アイコンだぜ-->
    <link rel="icon" href="favicon.ico">


    <!--ここからはscriptです-->
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Profile</a></li>
            
            <li><a href="service.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>

      <div class="marquee-container">
        <div class="marquee-text">
            <pre>
                キュイ━━━━ン
                ∧,,∧
                (・ω・｀) /|
                ／くＴ￣￣二=二] 三二─
                ￣￣￣＼二＼
            </pre>
        </div>
    </div>


    <div class="main-content">
        <div class="box">
            <h2>このサイトについて</h2>
            <p>massangoが作ったサイトです。<br>何か質問や意見があれば、お問い合わせページへ(あるとは言ってない)<br>何かが動いてるって？気のせいでは？（） </p>
            <h2>このサイトでできること</h2>
            <p>あまり生活で必要ではないサービスを使用することができます。 <br>誰でも使用可能なので、使ってみてくださいね。</p>
            <p>このサイトはオープンソースです。</p>
            <a href="https://github.com/massangoDa/massango-s_sites" class="reddesu">https://github.com/massangoDa/massango-s_sites</a> 
        </div>
        <div class="box1">
            <div class="koukoku">
                <a href="mags.html"><img src="koukoku/mags_koukoku.png" alt="magskoukokudesu" width="300px"></a>
                <a href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngkoukokudesu" width="300px"></a>
                <!--<a href="charenji/apk.html"><img src="koukoku/apk.png" alt="apknokoukokudesu" width="300px"></a>-->
                <a href="service/sitemap/index.html"><img src="koukoku/sitemap_koukoku.jpg" alt="saitomappudesu" width="300px"></a>
            </div>
        </div>

        <div class="box">
            <h2>ニュース</h2>
            <br>
            <div class="group-l">
                
                <a href="blog/github.html" class="res-item">
                    <div class="item-content">
                        <h3 class="item-headline">サイトをオープンソースにしました</h3>
                        <p class="item-date">2024 年 1 月 14日</p>
                    </div>
                  </a>

                <a href="service.html" class="res-item">
                    <div class="item-content">
                        <h3 class="item-headline">APKをダウンロードできる場所を作りました</h3>
                        <p class="item-date">2023 年 10 月 22日</p>
                    </div>
                  </a>

                <a href="service.html" class="res-item">
                    <div class="item-content">
                        <h3 class="item-headline">広告を付けました</h3>
                        <p class="item-date">2023 年 10 月 22日</p>
                    </div>
                  </a>

                <a href="service.html" class="res-item">
                    <div class="item-content">
                        <h3 class="item-headline">広告を付けました</h3>
                        <p class="item-date">2023 年 10 月 12日</p>
                    </div>
                  </a>





            </div>
        </div>

        <div class="box">
            <ul class="slider">
                <div class="bornews">
                    <a href="service.html"><li><h3>サービスにtopngソフトを追加しました </h3><h3 class="time-news">2023 年 9 月 19 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="about.html"><li><h3>プロフィールを変更しました </h3><h3 class="time-news">2023 年 9 月 06 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="about.html"><li><h3>サービスにMAGs(SDGs)を作成しました </h3><h3 class="time-news">2023 年 9 月 01 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="about.html"><li><h3>サービスに3DGs(MAGs(SDGs))を作成しました </h3><h3 class="time-news">2023 年 9 月 03 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="about.html"><li><h3>Mass鯖のルールを作成しました </h3><h3 class="time-news">2023 年 8 月 24 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="about.html"><li><h3>サイトに一時的チャットを追加しました </h3><h3 class="time-news">2023 年 8 月 25 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="about.html"><li><h3>Profileにれうぃんくんを追加しました！ </h3><h3 class="time-news">2023 年 8 月 02 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="index.html"><li><h3>サイトが新しくなりました </h3><h3 class="time-news">2023 年 8 月 01 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="index.html"><li><h3>フォントが適応されました！ </h3><h3 class="time-news">2023 年 8 月 01 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="index.html"><li><h3>スライドニュースを追加しました！</h3><h3 class="time-news">2023 年 8 月 02 日</h3></li></a>
                </div>
                <div class="bornews">
                    <a href="index.html"><li><h3>サイトが新しくなりました </h3><h3 class="time-news">2023 年 8 月 01 日</h3></li></a>
                </div>

            </ul>


        </div>

    </div>








        <footer class="pane-footer">
            <div class="container">
        
                <div id="footernav" class="block-footernav">
                  <ul class="block-footernav--item-list-1">
                    <li class="block-footernav--ttl"><a href="index.html">サイト</a></li>
                    <li class="block-footernav--content"><a href="about.html">プロフィール</a></li>
                    <li class="block-footernav--content"><a href="profile.html">プロフィール(アニメ風)</a></li>
                    <li class="block-footernav--content"><a href="service.html">サービス</a></li>
                    <li class="block-footernav--content"><a href="blog.html">ブログ</a></li>
                    <li class="block-footernav--content"><a href="weather/weather.html">今日の天気</a></li>
                    
                    <!--<li class="block-footernav--content"><a href="#">ここに新しい乱を作るにだ</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--other"><a href="#" target="_blank">#</a></li>-->
                  </ul>
                  <ul class="block-footernav--item-list-1">
                    <li class="block-footernav--ttl"><a href="service.html">サービス</a></li>
                    <li class="block-footernav--content"><a href="service/sitemap/index.html">サイトマップ作成</a></li>
                    <li class="block-footernav--content"><a href="mags.html">MAGs</a></li>
                    <li class="block-footernav--content"><a href="3dgs.html">3BGs</a></li>
                    <li class="block-footernav--content"><a href="service/keisan/keisan.html">自動計算</a></li>
                    <li class="block-footernav--content"><a href="topng.html">topng</a></li>
        
                    <!--<li class="block-footernav--ttl block-footernav--other"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>-->
                  </ul>
                  <ul class="block-footernav--item-list-2">
                    <li><a href="pagesabout.html">はじめての方へ</a></li>
                    <li><a href="form/form.html">お問い合わせ</a></li>
                    <!--<li><a href="#">よくある質問</a></li>-->
                    <li><a href="sitepolicy.html">ウェブサイトご利用規約</a></li>
                    <li><a href="bunner.html">サイトのバナー</a></li>
                  </ul>
                  <ul class="block-footernav--item-list-3">
                    <li><a target="_blank" href="https://hassy1216.github.io/"><img src="https://raw.githubusercontent.com/hassy1216/hassy1216.github.io/main/sketch-1696510507951.png" alt="hassy" width="200px"></a></li>
                    <li><a target="_blank" href="https://m1ntooo.com"><img src="https://m1ntooo.com/Banner/m1ntooo.png" alt="m1ntooo" width="200px"></a></li>
                    <li><a target="_blank" href="https://rumiserver.com/"><img src="https://rumiserver.com/Asset/rumisan_room/BANNR.png" alt="るみちゃん" width="200px"></a></li>
                    <li><a target="_blank" href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngの広告" width="200px"></a></li>
                  </ul>
                </div>
            </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/js/6-1-6.js"></script>





</body>
</html>


