<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGs「MASSANGOの目標達成と持続可能性」</title>
    <meta content="MASSANGOをよりよくしていくために、2030年までに達成すべき目標。「MAGs」" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="MASSANGOをよりよくしていくために、2030年までに達成すべき目標。「MAGs」" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer/footer.css">
    <link rel="stylesheet" href="p.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Profile</a></li>
            
            <li><a href="service.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>
      <div class="main-content">
        <h1>MAGsって何だろう？</h1>
        <h3 class="weighth3">MASSANGOをよりよくしていくために、2030年までに達成すべき目標</h3>

        <img src="mags.png" alt="mags" width="900px">

        <p>速度、バージョン、エラー。MASSANGOは、これまでになかったような数多くの課題に直面しています。</p>
        <p>このままでは、MASSANGOが安定してサービスを提供し続ける事が出来なくなると心配されています。</p>
        <p>そんな危機感から、MASSANGOの運営が話し合い、課題を整理し、解決方法を考え、</p>
        <p>2030年までに達成すべき具体的な目標を立てました。</p>
        <p>それが、「MASSANGOの目標達成と持続可能性(MASSANGO Achievement Goals & Sustainability) 」です。</p>
        <p class="pnowakuake">持続可能性とは、何かをし続けられる、ということです。</p>
        <p>MAGsは、私たちみんなが、一つしかないこのサイトを使い続けられる</p>
        <p>「持続可能なサイト」を実現するために進むべき道を示した、つまり、ナビのようなものです。</p>
        <p>人類は今、そのナビが示す方向に進めているでしょうか？</p>
        <p class="pnowakuake">さまざまなMASSANGOの課題とMAGsとのつながりを知り、</p>
        <p>「持続可能なサイトを築くためには、何をすればいいだろう？」</p>
        <p>みんながそれを考えて、行動することが大切です。</p>
        <h1 class="h1-ue">MAGsの全文・宣言</h1>
        <p>「我々のサイトを変革する」MAGsに向けた決意の思いを知ろう</p>
        <img src="mirai.png" alt="mirai" width="900px" class="imgnomargin">
        <p>「持続可能な開発のための2030アジェンダ」として</p>
        <p>MAGsが国連総会で採択されたのは2023年。</p>
        <p>具体的な12のゴールを示したアジェンダの全範囲は、</p>
        <p>なぜMAGsが必要なのか、どんな意見でこの目標を揚げたのか、</p>
        <p>そしてみんなが当事者として協力してほしいことを述べた前文と、目指す世界を示した宣言があります。</p>

        <h1 class="h1-ue">MAGsができるまで</h1>
        <p>MAGsは突然できたわけです。</p>
        <p>MAGsができた背景には、公民の授業がかかわっています。</p>
        <p>テストなどを乗り越えて公民の授業が始まったことなど、さまざまな歴史があります。</p>
        
        <div class="timeline-container">
          <div class="timeline">
            <div class="event">
              <div class="year-circle">2023~</div>
              </div>
            </div>
            <!-- 他のイベントも同様に追加 -->
            <div class="timeline">
              <div class="event">
                <div class="year-circle">8/23</div>
                <div class="vertical-line"></div>
                <div class="event-details">
                  <div class="category">環境</div>
                  <div class="description">テストが行われる</div>
                </div>
              </div>
              <!-- 他のイベントも同様に追加 -->
              <div class="timeline">
                <div class="event">
                  <div class="year-circle">24</div>
                  <div class="vertical-line"></div>
                  <div class="event-details">
                    <div class="category">環境</div>
                    <div class="description">テストの復習</div>
                  </div>
                </div>
                <!-- 他のイベントも同様に追加 -->
                <div class="timeline">
                  <div class="event">
                    <div class="year-circle">25</div>
                    <div class="vertical-line"></div>
                    <div class="event-details">
                      <div class="category">環境</div>
                      <div class="description">テストの復習</div>
                    </div>
                  </div>
                  <!-- 他のイベントも同様に追加 -->
                  <div class="timeline">
                    <div class="event">
                      <div class="year-circle">26</div>
                      <div class="vertical-line"></div>
                      <div class="event-details">
                        <div class="category">発見</div>
                        <div class="description">公民の教科書が配られる</div>
                      </div>
                    </div>
                    <!-- 他のイベントも同様に追加 -->
                    <div class="timeline">
                      <div class="event">
                        <div class="year-circle">27</div>
                        <div class="vertical-line"></div>
                        <div class="event-details">
                          <div class="category">作成</div>
                          <div class="description">MAGsを作ろうと思い作成</div>
                        </div>
                      </div>
                      <!-- 他のイベントも同様に追加 -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        

      </div>


      <footer class="pane-footer">
        <div class="container">
    
            <div id="footernav" class="block-footernav">
              <ul class="block-footernav--item-list-1">
                <li class="block-footernav--ttl"><a href="index.html">サイト</a></li>
                <li class="block-footernav--content"><a href="about.html">プロフィール</a></li>
                <li class="block-footernav--content"><a href="profile.html">プロフィール(アニメ風)</a></li>
                <li class="block-footernav--content"><a href="service.html">サービス</a></li>
                <li class="block-footernav--content"><a href="blog.html">ブログ</a></li>
                <li class="block-footernav--content"><a href="weather/weather.html">今日の天気</a></li>
                <!--<li class="block-footernav--content"><a href="#">ここに新しい乱を作るにだ</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--other"><a href="#" target="_blank">#</a></li>-->
              </ul>
              <ul class="block-footernav--item-list-1">
                <li class="block-footernav--ttl"><a href="service.html">サービス</a></li>
                <li class="block-footernav--content"><a href="service/sitemap/index.html">サイトマップ作成</a></li>
                <li class="block-footernav--content"><a href="mags.html">MAGs</a></li>
                <li class="block-footernav--content"><a href="3dgs.html">3BGs</a></li>
                <li class="block-footernav--content"><a href="service/keisan/keisan.html">自動計算</a></li>
                <li class="block-footernav--content"><a href="topng.html">topng</a></li>
    
                <!--<li class="block-footernav--ttl block-footernav--other"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>
                <li class="block-footernav--content"><a href="#">#</a></li>-->
              </ul>
              <ul class="block-footernav--item-list-2">
                <li><a href="pagesabout.html">はじめての方へ</a></li>
                <li><a href="form/form.html">お問い合わせ</a></li>
                <!--<li><a href="#">よくある質問</a></li>-->
                <li><a href="sitepolicy.html">ウェブサイトご利用規約</a></li>
                <li><a href="bunner.html">サイトのバナー</a></li>
              </ul>
              <ul class="block-footernav--item-list-3">
                <li><a target="_blank" href="https://hassy1216.github.io/"><img src="https://raw.githubusercontent.com/hassy1216/hassy1216.github.io/main/sketch-1696510507951.png" alt="hassy" width="200px"></a></li>
                <li><a target="_blank" href="https://m1ntooo.com"><img src="https://m1ntooo.com/Banner/m1ntooo.png" alt="m1ntooo" width="200px"></a></li>
                <li><a target="_blank" href="https://rumiserver.com/"><img src="https://rumiserver.com/Asset/rumisan_room/BANNR.png" alt="るみちゃん" width="200px"></a></li>
                <li><a target="_blank" href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngの広告" width="200px"></a></li>
              </ul>
            </div>
        </div>

</div>

</body>
</html>

