<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGsって何だろう？ MAGsについて</title>
    <meta content="MAGsって何だろう？MAGsについて確認する。" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="MAGsって何だろう？MAGsについて確認する。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer/footer.css">
    
    <link rel="stylesheet" href="p.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Profile</a></li>
            
            <li><a href="service.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>

      <div class="main-content">
        <div class="text-mags">
            <img src="MAGsicon.png" alt="MAGSdes" width="250px">
            <h1 class="h1desu">って何だろう？</h1>
        </div>
        <p>だれ一人取り残されることなく、</p>
        <p>人類が安定してこのサイトを使い続けることができるように、</p>
        <p>サイトの様々な問題を整理し、解決に向けて具体的な目標を示したのが、</p>
        <div class="mozinoiti">
            <p class="akairo">MAGs（MASSANGOの目標達成と持続可能性）</p>
            <p>です。</p>
        </div>
        <p>2023年に採択され、MASSANGOは一致団結して、</p>
        <p>2030年を目指してこの目標を達成しよう、と合意しました。</p>
        <div class="kuuhaku"></div>
        <div class="box">
            <h1>2030年までの残り時間</h1>
            <p id="countdown"></p>
        </div>
        <a href="mags.html" class="btn_04">MAGsを知る</a>
        <h1 class="h1-ue">MAGsの全文・宣言</h1>
        <img src="mirai.png" alt="mirai" width="700px" class="imgnomargin1">
        <p>「我々のサイトを変革する」MAGsに向けた決意の思いを知ろう</p>

        <h1 class="h1-ue">MAGs12の目標</h1>
        <p>MAGsには、サイトを変えるための12の目標があります。</p>
        <p>2023年から本格的な取り組みが始まり、</p>
        <p class>2030年を目標の達成期限にしています。</p>
        <div class="kuuhaku"></div>
        <a href="mags.html" class="btn_04">12の目標を見てみよう！</a>
        <div class="kuuhaku"></div>


        
    </div>


    <footer class="pane-footer">
      <div class="container">
  
          <div id="footernav" class="block-footernav">
            <ul class="block-footernav--item-list-1">
              <li class="block-footernav--ttl"><a href="index.html">サイト</a></li>
              <li class="block-footernav--content"><a href="about.html">プロフィール</a></li>
              <li class="block-footernav--content"><a href="profile.html">プロフィール(アニメ風)</a></li>
              <li class="block-footernav--content"><a href="service.html">サービス</a></li>
              <li class="block-footernav--content"><a href="blog.html">ブログ</a></li>
              <li class="block-footernav--content"><a href="weather/weather.html">今日の天気</a></li>
              <!--<li class="block-footernav--content"><a href="#">ここに新しい乱を作るにだ</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--other"><a href="#" target="_blank">#</a></li>-->
            </ul>
            <ul class="block-footernav--item-list-1">
              <li class="block-footernav--ttl"><a href="service.html">サービス</a></li>
              <li class="block-footernav--content"><a href="service/sitemap/index.html">サイトマップ作成</a></li>
              <li class="block-footernav--content"><a href="mags.html">MAGs</a></li>
              <li class="block-footernav--content"><a href="3dgs.html">3BGs</a></li>
              <li class="block-footernav--content"><a href="service/keisan/keisan.html">自動計算</a></li>
              <li class="block-footernav--content"><a href="topng.html">topng</a></li>
  
              <!--<li class="block-footernav--ttl block-footernav--other"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>-->
            </ul>
            <ul class="block-footernav--item-list-2">
              <li><a href="pagesabout.html">はじめての方へ</a></li>
              <li><a href="form/form.html">お問い合わせ</a></li>
              <!--<li><a href="#">よくある質問</a></li>-->
              <li><a href="sitepolicy.html">ウェブサイトご利用規約</a></li>
              <li><a href="bunner.html">サイトのバナー</a></li>
            </ul>
            <ul class="block-footernav--item-list-3">
              <li><a target="_blank" href="https://hassy1216.github.io/"><img src="https://raw.githubusercontent.com/hassy1216/hassy1216.github.io/main/sketch-1696510507951.png" alt="hassy" width="200px"></a></li>
              <li><a target="_blank" href="https://m1ntooo.com"><img src="https://m1ntooo.com/Banner/m1ntooo.png" alt="m1ntooo" width="200px"></a></li>
              <li><a target="_blank" href="https://rumiserver.com/"><img src="https://rumiserver.com/Asset/rumisan_room/BANNR.png" alt="るみちゃん" width="200px"></a></li>
              <li><a target="_blank" href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngの広告" width="200px"></a></li>
            </ul>
          </div>
      </div>

</div>

    <script>
        function updateCountdown() {
          const now = new Date();
          const targetDate = new Date("2030-12-31T23:59:59");
          const timeDifference = targetDate - now;
    
          const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
          const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
          const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);
    
          document.getElementById("countdown").textContent = `${days}日 ${hours}時間 ${minutes}分 ${seconds}秒`;
        }
    
        setInterval(updateCountdown, 1000);
        updateCountdown();
      </script>
</body>
</html>

