<!DOCTYPE html>
<html lang="ja" style="--screenHeight: 1271px; --pageHeight: 1375px;">
<head>
<title>プロフィール - rewinkun</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Massangoのプロフィールです。色々な人に知ってもらえたらうれしいです。" name="description">
<meta property="og:title" content="Massango" />
<meta property="og:description" content="Massangoのプロフィールです。色々な人に知ってもらえたらうれしいです。" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://massangooo.net" />
<meta property="og:image" content="https://massangooo.net/mass.png" />
<meta property="og:site_name" content="Massango" />
<meta property="og:locale" content="ja_JP"  />
<link rel="icon" href="favicon.ico">
<link rel="stylesheet" href="profile/character.css">
<link rel="stylesheet" href="profile/common.css">
<link rel="stylesheet" href="profile.css">
</head>

<body>
<div class="header">
  <a href="index.html"><div class="logo">MASSANGO</div></a>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">Profile</a></li>
      
      <li><a href="service.html">Services</a></li>
      <li><a href="blog.html">Blog</a></li>
    </ul>
  </nav>
</div>


<main class="l-main"><header class="l-pageheader">

			<div class="tab_container">
    <section class="masspart character_part c-inner">
      <div class="massbg bg_part c-visible_wide">
        <img src="profile/rew/bg.png" alt="" onmousedown="return false" oncopy="return false" onselectstart="return false" oncontextmenu="return false">
    </div>
  </section>
  <section class="pagination_part">
    <div class="rewinpagination pagination">
        <div class="c-inner pagination_block">
          <a href="profile.html">
            <img class="arrow_icon -prev" src="profile/prev.png" alt="" onmousedown="return false" oncopy="return false" onselectstart="return false" oncontextmenu="return false">
            <img class="name_icon" src="profile/rew/namelink.png" alt="" onmousedown="return false" oncopy="return false" onselectstart="return false" oncontextmenu="return false">
        </a>
            <a href="profile.html">
              <img class="arrow_icon -next" src="profile/next.png" alt="" onmousedown="return false" oncopy="return false" onselectstart="return false" oncontextmenu="return false">
          </a>
        </div>
    </div>
</section>    
<section class="massprofile profile">
    <div class="profile_part c-inner">
        <div class="profile_block">
            <h2>
                <picture>
					<source media="(max-width:834px)">
					<img src="profile/rew/profile.png" alt="MASSANGO (Mass Angoh / CV Mass Angoh) management" onmousedown="return false" oncopy="return false" onselectstart="return false" oncontextmenu="return false">
				</picture>
            </h2>
            <p>
              フロントエンドエンジニア。デザインやサイトの機能と既存ページの見直しをしている。趣味でプログラミングとかしてます。言語はHSPを主にしてます。
            </p>
        </div>
        <div class="massavatar profile_avatar">
            <div class="middle_txt">
                <picture>
					<img src="profile/rew/icon.png" alt="" onmousedown="return false" oncopy="return false" onselectstart="return false" oncontextmenu="return false">
				</picture>
            </div>
        </div>
    </div>
</section>    
<div class="main_img">
  <img src="profile/rew/main.png" alt="" onmousedown="return false" oncopy="return false" onselectstart="return false" oncontextmenu="return false">
</div>
</div>
</main>

		     

<script src="profile/aniplex.imgdownload.min.js"></script>
<script src="profile/vendor.js"></script>
<script src="profile/common.js"></script>


	
</body>
</html>