<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サービス紹介</title>
    <meta content="作成したサービスの紹介です。リンクにもなっているので、気軽に使うことができます。" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="作成したサービスの紹介です。リンクにもなっているので、気軽に使うことができます。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer/footer.css">
    
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Profile</a></li>
            
            <li><a href="service.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>

    <div class="main-content">
        <div class="box">
            <div class="services-section">
              <div class="service-box">
                <a href="service/kasou/index.html">
                  <div class="service-title">iframeでbing.com</div>
                  <div class="service-description">何も付けずに検索ができます。</div>
                </a>
              </div>
              <div class="service-box">
                <a href="service/sitemap/index.html">
                  <div class="service-title">sitemap作成</div>
                  <div class="service-description">サイトのURLを書き込むだけでsitemapを作成します。</div>
                </a>
              </div>
              <div class="service-box">
                <a href="service/proxy/searchde.html">
                  <div class="service-title">proxy(β版)</div>
                  <div class="service-description">massangooo.net経由で、検索することができます。現在はβ版なので、画像検索などはできません。</div>
                </a>
              </div>
                <div class="service-box">
                  <a href="service/keisan/keisan.html">
                    <div class="service-title">自動計算機</div>
                    <div class="service-description">数値を入れるだけで、自動で計算してくれます。</div>
                  </a>
                </div>
                <div class="service-box">
                  <a href="qamags.html">
                    <div class="service-title">MAGs(SDGs)</div>
                    <div class="service-description">MASSANGOをよりよくしていくためには、何をすればいいのか。それを考えたのが、MAGsです。</div>
                  </a>
                </div>
                <div class="service-box">
                  <a href="3dgs.html">
                    <div class="service-title">3DGs(MAGs(SDGs))</div>
                    <div class="service-description">3年B組をよりよくしていくためには、何をすればいいのか。それを考えたのが、3DGsです。()</div>
                  </a>
                </div>
                <div class="service-box">
                  <a href="topng.html">
                    <div class="service-title">画像をPNGに変換！</div>
                    <div class="service-description">jpgや、webpなどを、一括でpngに変換することができるソフトです。更新などもできますが、現在はローカルのみです。</div>
                  </a>
                </div>

              

        </div>
    </div>

    </div>

    <footer class="pane-footer">
      <div class="container">
  
          <div id="footernav" class="block-footernav">
            <ul class="block-footernav--item-list-1">
              <li class="block-footernav--ttl"><a href="index.html">サイト</a></li>
              <li class="block-footernav--content"><a href="about.html">プロフィール</a></li>
              <li class="block-footernav--content"><a href="profile.html">プロフィール(アニメ風)</a></li>
              <li class="block-footernav--content"><a href="service.html">サービス</a></li>
              <li class="block-footernav--content"><a href="blog.html">ブログ</a></li>
              <li class="block-footernav--content"><a href="admin">管理者専用</a></li>
              
              <!--<li class="block-footernav--content"><a href="#">ここに新しい乱を作るにだ</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--other"><a href="#" target="_blank">#</a></li>-->
            </ul>
            <ul class="block-footernav--item-list-1">
              <li class="block-footernav--ttl"><a href="service.html">サービス</a></li>
              <li class="block-footernav--content"><a href="service/sitemap/index.html">サイトマップ作成</a></li>
              <li class="block-footernav--content"><a href="mags.html">MAGs</a></li>
              <li class="block-footernav--content"><a href="3dgs.html">3BGs</a></li>
              <li class="block-footernav--content"><a href="service/keisan/keisan.html">自動計算</a></li>
              <li class="block-footernav--content"><a href="topng.html">topng</a></li>
  
              <!--<li class="block-footernav--ttl block-footernav--other"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>-->
            </ul>
            <ul class="block-footernav--item-list-2">
              <li><a href="pagesabout.html">はじめての方へ</a></li>
              <li><a href="form/form.html">お問い合わせ</a></li>
              <!--<li><a href="#">よくある質問</a></li>-->
              <li><a href="sitepolicy.html">ウェブサイトご利用規約</a></li>
              <li><a href="bunner.html">サイトのバナー</a></li>
            </ul>
            <ul class="block-footernav--item-list-3">
              <li><a target="_blank" href="https://hassy1216.github.io/"><img src="https://raw.githubusercontent.com/hassy1216/hassy1216.github.io/main/sketch-1696510507951.png" alt="hassy" width="200px"></a></li>
              <li><a target="_blank" href="https://m1ntooo.com"><img src="https://m1ntooo.com/Banner/m1ntooo.png" alt="m1ntooo" width="200px"></a></li>
              <li><a target="_blank" href="https://rumiserver.com/"><img src="https://rumiserver.com/Asset/rumisan_room/BANNR.png" alt="るみちゃん" width="200px"></a></li>
              <li><a target="_blank" href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngの広告" width="200px"></a></li>
            </ul>
          </div>
      </div>

</div>

</body>
</html>

