<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール</title>
    <meta content="Massangoのプロフィールです。色々な人に知ってもらえたらうれしいです。" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="Massangoのプロフィールです。色々な人に知ってもらえたらうれしいです。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer/footer.css">
    
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Profile</a></li>
            
            <li><a href="service.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>

      <div class="main-content">
        <div class="box">
            <h2>サイトのご利用にあたって</h2>
            <p>MASSANGOをご利用にあたっては、以下の事項をお読みいただき、内容にご同意された場合のみご利用ください。また、当サイトは予告なしにご利用規約を変更する場合がありますので、あらかじめご了承ください。</p>
            
            <h2>著作権などについて</h2>
            <p>当サイトに掲示されている画像などは、当サイトが使用を認めた権利者に帰属しています。私的使用など法律によって認められる範囲を超えて、例えば商業目的での使用や改変は禁止されています。</p>
            
            <h2>免責事項について</h2>
            <p>・当サイトの情報やサービスは、予告なく変更、廃止する場合があります。</p>
            <p>・当サイトの利用によって生じたあらゆる損害において、一切責任を負いかねます。</p>
            
            <h2>Cookie(クッキー)について</h2>
            <p>当サイトでは、次の目的で、Cookieの仕組みを使用する場合があります。</p>
            <p>ㅤㅤ・一時的チャットでの名前の保存</p>
            <p>ㅤㅤ・当サイトの利用状況を計測・分析するため</p>
            <p>ブラウザの設定を変更することにより、Cookieの受け取りを拒否することもできますが、当サイトの一部がご利用できなくなる場合があります。</p>
            
            <h2>利用環境について</h2>
            <p>【推奨ブラウザ】</p>
            <p>・Firefox(最新バージョン)</p>
            <p>・Chrome(最新バージョン)</p>
            <p>※スマートフォンでは、ウェブページが正しく表示されない可能性があります。</p>

            <p>【JavaScript】</p>
            <p>当サイトでは、JavaScriptを使用しているページがあります。全ての機能を使用するには、ブラウザ設定でJavaScriptを有効にしていただく事をおすすめいたします。</p>

            <p>【SSL】</p>
            <p>当サイトでは、個人情報の通信における安全性を確保するためのSSL(Secure Sockets Layer)暗号システムを採用しております。</p>

            <h2>準拠法・管轄裁判所について</h2>
            <p>当サイトは、日本法が適応されるものとします。</p>
            <p></p>

        </div>

      
        </div>

        <footer class="pane-footer">
            <div class="container">
        
                <div id="footernav" class="block-footernav">
                  <ul class="block-footernav--item-list-1">
                    <li class="block-footernav--ttl"><a href="index.html">サイト</a></li>
                    <li class="block-footernav--content"><a href="about.html">プロフィール</a></li>
                    <li class="block-footernav--content"><a href="profile.html">プロフィール(アニメ風)</a></li>
                    <li class="block-footernav--content"><a href="service.html">サービス</a></li>
                    <li class="block-footernav--content"><a href="blog.html">ブログ</a></li>
                    <li class="block-footernav--content"><a href="admin">管理者専用</a></li>
                    
                    <!--<li class="block-footernav--content"><a href="#">ここに新しい乱を作るにだ</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--other"><a href="#" target="_blank">#</a></li>-->
                  </ul>
                  <ul class="block-footernav--item-list-1">
                    <li class="block-footernav--ttl"><a href="service.html">サービス</a></li>
                    <li class="block-footernav--content"><a href="service/sitemap/index.html">サイトマップ作成</a></li>
                    <li class="block-footernav--content"><a href="mags.html">MAGs</a></li>
                    <li class="block-footernav--content"><a href="3dgs.html">3BGs</a></li>
                    <li class="block-footernav--content"><a href="service/keisan/keisan.html">自動計算</a></li>
                    <li class="block-footernav--content"><a href="topng.html">topng</a></li>
        
                    <!--<li class="block-footernav--ttl block-footernav--other"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>
                    <li class="block-footernav--content"><a href="#">#</a></li>-->
                  </ul>
                  <ul class="block-footernav--item-list-2">
                    <li><a href="pagesabout.html">はじめての方へ</a></li>
                    <li><a href="form/form.html">お問い合わせ</a></li>
                    <!--<li><a href="#">よくある質問</a></li>-->
                    <li><a href="sitepolicy.html">ウェブサイトご利用規約</a></li>
                    <li><a href="bunner.html">サイトのバナー</a></li>
                  </ul>
                  <ul class="block-footernav--item-list-3">
                    <li><a target="_blank" href="https://hassy1216.github.io/"><img src="https://raw.githubusercontent.com/hassy1216/hassy1216.github.io/main/sketch-1696510507951.png" alt="hassy" width="200px"></a></li>
                    <li><a target="_blank" href="https://m1ntooo.com"><img src="https://m1ntooo.com/Banner/m1ntooo.png" alt="m1ntooo" width="200px"></a></li>
                    <li><a target="_blank" href="https://rumiserver.com/"><img src="https://rumiserver.com/Asset/rumisan_room/BANNR.png" alt="るみちゃん" width="200px"></a></li>
                    <li><a target="_blank" href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngの広告" width="200px"></a></li>
                  </ul>
                </div>
            </div>

    </div>


</body>
</html>

