<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topng紹介</title>
    <meta content="massangoが作ったtopngというソフトを紹介します。" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="massangoが作ったtopngというソフトを紹介します。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer/footer.css">
    
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Profile</a></li>
            
            <li><a href="service.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>

      <div class="main-content">
        <div class="box">
            <h2>ToPNGとは</h1>
            <p>python無知の人が調べまくって作った、画像ファイルを全てpngに変換するソフトです！</p>
            <img src="gazou/topng.png" alt="topngdea" width="100%">
            <a href="topng_setup.exe" class="burakku">ダウンロードはここをクリックしてください</a>
            <p>これがソフトの外観です。はっきり言ってダサいですよね() まあ仕方なし！</p>
            <h2>なぜ作ったのか</h2>
            <p>もともとは.cr2という拡張子をpngに変換する物だったのですが、これもしかしてほかの拡張子もpngにできるんじゃね？と思い、作ってみたら楽しくなっちゃって、ここまで作ったって感じです。</p>
            <h2>機能</h2>
            <p>このToPNGには、様々な機能(4個しかない)が沢山あります！一番めんどくさかったのは、ドロップ機能ですかね。本当はソフトのどこにドロップしても反応するようにしたかったのですが、難しすぎてできませんでした() </p>
            <p>次に、進捗バーです。変換するリミッターをかけていないので、ソフトが重くなって進捗が進んでいかないので、ほとんど意味がないですw いつか修正します。</p>
            <p>次は、ファイル名を決めることのできる機能ですが、画像が1個の場合しか使えないので、注意が必要です。ココもいつか直します。いつか</p>
            <h2>セットアップについて</h2>
            <p>セットアップソフトも、pythonで一から作ったので、ファイルをcドライブに置く関係でウィンドウズディフェンダーなどにブロックされてしまう場合があります。</p>
            <a href="topng_setup.exe" class="burakku">ダウンロードはここをクリックしてください</a>
        </div>

      
        </div>


        <footer class="pane-footer">
          <div class="container">
      
              <div id="footernav" class="block-footernav">
                <ul class="block-footernav--item-list-1">
                  <li class="block-footernav--ttl"><a href="index.html">サイト</a></li>
                  <li class="block-footernav--content"><a href="about.html">プロフィール</a></li>
                  <li class="block-footernav--content"><a href="profile.html">プロフィール(アニメ風)</a></li>
                  <li class="block-footernav--content"><a href="service.html">サービス</a></li>
                  <li class="block-footernav--content"><a href="blog.html">ブログ</a></li>
                  <li class="block-footernav--content"><a href="weather/weather.html">今日の天気</a></li>
                  <!--<li class="block-footernav--content"><a href="#">ここに新しい乱を作るにだ</a></li>-->
                  
                  <!--<li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>-->
                  <!--<li class="block-footernav--other"><a href="#" target="_blank">#</a></li>-->
                </ul>
                <ul class="block-footernav--item-list-1">
                  <li class="block-footernav--ttl"><a href="service.html">サービス</a></li>
                  <li class="block-footernav--content"><a href="service/sitemap/index.html">サイトマップ作成</a></li>
                  <li class="block-footernav--content"><a href="mags.html">MAGs</a></li>
                  <li class="block-footernav--content"><a href="3dgs.html">3BGs</a></li>
                  <li class="block-footernav--content"><a href="service/keisan/keisan.html">自動計算</a></li>
                  <li class="block-footernav--content"><a href="topng.html">topng</a></li>
      
                  <!--<li class="block-footernav--ttl block-footernav--other"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>
                  <li class="block-footernav--content"><a href="#">#</a></li>-->
                </ul>
                <ul class="block-footernav--item-list-2">
                  <li><a href="pagesabout.html">はじめての方へ</a></li>
                  <li><a href="form/form.html">お問い合わせ</a></li>
                  <!--<li><a href="#">よくある質問</a></li>-->
                  <li><a href="sitepolicy.html">ウェブサイトご利用規約</a></li>
                  <li><a href="bunner.html">サイトのバナー</a></li>
                </ul>
                <ul class="block-footernav--item-list-3">
                  <li><a target="_blank" href="https://hassy1216.github.io/"><img src="https://raw.githubusercontent.com/hassy1216/hassy1216.github.io/main/sketch-1696510507951.png" alt="hassy" width="200px"></a></li>
                  <li><a target="_blank" href="https://m1ntooo.com"><img src="https://m1ntooo.com/Banner/m1ntooo.png" alt="m1ntooo" width="200px"></a></li>
                  <li><a target="_blank" href="https://rumiserver.com/"><img src="https://rumiserver.com/Asset/rumisan_room/BANNR.png" alt="るみちゃん" width="200px"></a></li>
                  <li><a target="_blank" href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngの広告" width="200px"></a></li>
                </ul>
              </div>
          </div>

  </div>


</body>
</html>

