<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サイトをオープンソースにした話</title>
    <meta content="サイトをオープンソースにした話" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="サイトをオープンソースにした話" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="icon" href="../favicon.ico">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2370385312694278"
     crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="../index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about.html">Profile</a></li>
            
            <li><a href="../service.html">Services</a></li>
            <li><a href="../blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>

      <div class="main-content">
        <div class="box">
          <ol class="breadcrumb-005">
            <li><a href="../blog.html">ホーム</a></li>
            <li><a href="github.html">サイトをオープンソースにした話</a></li>
        </ol>
            <h2 class="h2-prog">サイトをオープンソースにした話</h2>
            <br>
            <div class="toc-005">
              <div>
                  目次
              </div>
              <ol>
                  <li><a href="#chapter-1">MySQLとは</a></li>
                  <li><a href="#chapter-2">データベースを作成する</a></li>
                  <li><a href="#chapter-3">MySQLとサーバーをつなぐ</a></li>
                  <li><a href="#chapter-4">試しにデータを入れてみる</a></li>
                  <li><a href="#chapter-5">終わり</a></li>
              </ol>
          </div>
            <br>
            <h2 id="chapter-1">公開した場所</h2>
            <p>公開場所は、githubです。</p>
            <a href="https://github.com/massangoDa/massango-s_sites" class="redmozi">https://github.com/massangoDa/massango-s_sites</a>
            <img src="../gazou/github.png" alt="githubの画像" width="100%">
            <br><br>
            <h2 id="chapter-2">ライセンスなど</h2>
            <p>このソースコードはMITライセンスのもと提供されています。詳細な条件については、<a href="https://github.com/massangoDa/massango-s_sites/blob/main/LICENSE.txt" class="redmozi">https://github.com/massangoDa/massango-s_sites/blob/main/LICENSE.txt</a>をご覧ください。</p>
            <p>コードのコピー、変更、新しいサイトの作成などは自由に行えますが、いかなる種類の保証もありません。</p>
            <img src="../gazou/mit.png" alt="MITライセンス" width="100%">
            <br><br>
            <h2 id="chapter-3">実行方法</h2>
            <p>Githubではgit cloneのやり方を紹介しています。</p>
            <a href="https://github.com/massangoDa/massango-s_sites" class="redmozi">https://github.com/massangoDa/massango-s_sites</a>
            <p>このプロジェクトはNode.jsを使用していますので、以下の手順に従って実行してください。</p>
            <p>Node.jsをインストールしていない場合</p>
            <p>まず、<a href="https://nodejs.org/download/" class="redmozi">https://nodejs.org/download/</a>にアクセスして、Node.jsをインストールしてください。</p>
            <p>Node.jsをインストールしたら</p>
            <p>まず、このプロジェクトをダウンロードしてください。(Githubのcloneでもok)</p>
            <p>次に、コマンドプロンプトを開いて、このプロジェクトのディレクトリに移動してください。</p>
            <p>コマンドプロンプトから</p>
            <br>
            <pre>
                <code>
node index.js
                </code>
            </pre>
            <p>で実行することができます</p>
            <p>httpのポート80で建てる設定になっていますので、ご自身の環境に合うようにindex.jsを変更してください。</p>
              <br><br>
                <h2 id="chapter-4">貢献</h2>
                <p>このプロジェクトは、以下のソフトやライブラリなどをを使わせていただきました。</p>
                <ul>
                    <li><a href="https://code.visualstudio.com/" class="redmozi">Visual Studio Code</a>: プログラム作成</li>
                    <li><a href="https://nodejs.org/" class="redmozi">Node.js</a>: JavaScriptの実行環境</li>
                    <li><a href="https://expressjs.com/" class="redmozi">Express</a>: Webアプリケーションフレームワークとしての基盤を提供 <a href="https://github.com/expressjs/express/graphs/contributors" class="redmozi">Contributors</a></li>
                    <li><a href="https://socket.io/" class="redmozi">Socket.IO</a>: リアルタイムな双方向通信を実現 <a href="https://github.com/socketio/socket.io/graphs/contributors" class="redmozi">Contributors</a></li>
                    <li><a href="https://www.npmjs.com/package/systeminformation" class="redmozi">systeminformation</a>: システム情報を取得 <a href="https://www.npmjs.com/package/systeminformation" class="redmozi">Maintainers</a></li>
                    <li><a href="https://www.npmjs.com/package/randomstring" class="redmozi">randomstring</a>: ランダムな文字列を生成 <a href="https://www.npmjs.com/package/randomstring" class="redmozi">Maintainers</a></li>
                    <li><a href="https://www.npmjs.com/package/request" class="redmozi">request</a>: HTTPリクエストを送信 <a href="https://www.npmjs.com/package/request" class="redmozi">Maintainers</a></li>
                    <li><a href="https://www.npmjs.com/package/csurf" class="redmozi">csurf</a>: CSRF対策 <a href="https://www.npmjs.com/package/csurf" class="redmozi">Maintainers</a></li>
                    <li><a href="https://www.npmjs.com/package/cookie-parser" class="redmozi">cookie-parser</a>: Cookieをパース <a href="https://www.npmjs.com/package/cookie-parser" class="redmozi">Maintainers</a></li>
                    <li><a href="https://www.npmjs.com/package/http" class="redmozi">http</a>: HTTPサーバーを作成 <a href="https://www.npmjs.com/package/http" class="redmozi">Maintainers</a></li>
                    <li><a href="https://www.npmjs.com/package/fs" class="redmozi">fs</a>: ファイルシステムを操作 <a href="https://www.npmjs.com/package/fs" class="redmozi">Maintainers</a></li>
                    <li><a href="https://www.npmjs.com/package/path" class="redmozi">path</a>: ファイルパスを操作 <a href="https://www.npmjs.com/package/path" class="redmozi">Maintainers</a></li>
                  </ul>
                  <p>その他、使用したソフトウェアやライブラリに感謝。</p>
                

              <h2 id="chapter-5">最後に</h2>
              <p>有志のプログラマーに改善されると願っています()</p>
              <p>このプロジェクトは、GitHubで管理されています。バグの報告や機能の提案、プルリクエストを歓迎します。</p>



              </div>
              

            </div>

      






</body>
</html>

