<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySQLでブログを管理する</title>
    <meta content="このブログをMySQLで管理するようになったので、やったことを書いています。" name="description">
    <meta property="og:title" content="Massango" />
    <meta property="og:description" content="このブログをMySQLで管理するようになったので、やったことを書いています。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://massangooo.net" />
    <meta property="og:image" content="https://massangooo.net/mass.png" />
    <meta property="og:site_name" content="Massango" />
    <meta property="og:locale" content="ja_JP"  />
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="icon" href="../favicon.ico">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2370385312694278"
     crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="../index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about.html">Profile</a></li>
            
            <li><a href="../service.html">Services</a></li>
            <li><a href="../blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>

      <div class="main-content">
        <div class="box">

            <ol class="breadcrumb-005">
                <li><a href="../blog.html">ホーム</a></li>
                <li><a href="mysql.html">MySQLでブログを管理</a></li>
            </ol>

            <h2 class="h2-prog">MySQLでブログを管理する</h2>
            <br>
            <div class="toc-005">
                <div>
                    目次
                </div>
                <ol>
                    <li><a href="#chapter-1">MySQLとは</a></li>
                    <li><a href="#chapter-2">データベースを作成する</a></li>
                    <li><a href="#chapter-3">MySQLとサーバーをつなぐ</a></li>
                    <li><a href="#chapter-4">試しにデータを入れてみる</a></li>
                    <li><a href="#chapter-5">終わり</a></li>
                </ol>
            </div>
            <br>
            <h2 id="chapter-1">MySQLとは</h2>
            <p>MySQLとは、オープンソースのデータベース管理システム(RDBMS)で、データベースを構築して、管理するためのソフトです。</p>
            <img src="../gazou/mysql.png" alt="mysqlの画像" width="60%">
            <br>
            <a href="https://www.mysql.com/" class="redmozi">MySQLのロゴ</a>
            <br><br>
            <h2 id="chapter-2">データベースを作成する</h2>
            <p>データベースを作成するには、</p>
            <pre>
                <code>
CREATE DATABASE データベース名;
                </code>
            </pre>
            <p>と入力します。</p>
            <p>作成したデータベースを使用するには、</p>
            <pre>
                <code>
USE データベース名;
                </code>
            </pre>
            <p>と入力します。</p>
            <p>次に、データを保存するためのテーブルを作成します。</p>
            <pre>
                <code>
CREATE TABLE テーブル名(
    カラム名1 データ型,
    カラム名2 データ型,
    カラム名3 データ型,
    ...
);
                </code>
            </pre>
            <p>私はこのようにしました。</p>
            <pre>
                <code>
CREATE TABLE blog_posts (
  id INT AUTO_INCREMENT PRIMARY KEY,
  title VARCHAR(255) NOT NULL,
  content TEXT,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
                </code>
            </pre>
            <p>これで、データベースの作成は完了です。</p>
            <br><br>
            <h2 id="chapter-3">MySQLとサーバーをつなぐ</h2>
            <p>ファイルは、このような配置になっています</p>
            <ul class="list-13">
                <li>
                    <span>views</span>
                    <ul>
                        <li>index.html</li>
                        <li>style.css</li>
                    </ul>
                    <li>index.js</li>
                </li>
                
            </ul>
            <p>今回は、Node.jsを使用しているので、index.jsで、</p>
            <p>まずは、mysqlライブラリをインストールします。</p>
            <pre>
                <code>
npm install mysql
                </code>
            </pre>
            <p>次に、index.jsに</p>
            <pre>
                <code>
const mysql = require('mysql');
                </code>
            </pre>
            <p>を追加します。</p>
            <p>次に、つなぐための情報を入力します</p>
            <pre>
                <code>
const connection = mysql.createConnection({
    host: 'IPアドレス',
    user: 'ユーザー名',
    password: 'パスワード',
    database: 'データベース名',
});
                </code>
            </pre>
            <p>これで、MySQLとサーバーをつなぐことができました。</p>
            <p>本当につながったのか確認するためのコードも入れます。</p>
            <pre>
                <code>
connection.connect((err) => {
    if (err) {
        console.error('データベースに接続できませんでした:', err);
    } else {
        console.log('データベースに接続しました');
    }
});
                </code>
            </pre>

              <br><br>
                <h2 id="chapter-4">試しにデータを入れてみる</h2>
                <p>試しに、データベースに、データを入れてみます。</p>
                <p>MySQLのコマンドラインから実行しています。</p>
                <pre>
                    <code>
INSERT INTO blog_posts (position, title, content, timestamp) VALUES ('blog/github.html', 'サイトをオープンソース にした話', 'サイトをオープンソースにしました。', NOW());
                    </code>
                </pre>
                <p>これで、データベースにデータを入れることができました。</p>
                <p>データを取得するには、</p>
                <pre>
                    <code>
SELECT * FROM blog_posts;
                    </code>
                </pre>
                <p>と入力します。</p>
                <p>これで、データを取得することができました。</p>

              <h2 id="chapter-5">終わり</h2>
              <p>SQLインジェクション対策などを行ったほうがいいと思います。</p>



              </div>
              

            </div>

      






</body>
</html>

