.box-1 {
    background-color: #c5c5c5;
    padding: 10px;
  }
  
  .title1 {
    margin: 0;
    text-align: center;
  }
  
  
  .text-desu {
    animation: none
  }
  
  .text-desu {
    font-size: 18px;
    padding-left: 30px;
  }
  
  .text-desu::before  {
    content: "•";
    margin-right: 0.5em;
    position: relative;
    background-color: #c5c5c5;
  }
  
  .text-desu::after {
    transform: translateX(-1000%);
  }
  
  .redmozi {
    color: red;
  }

  pre {
    background-color: #f8f9fa; /* コードブロックの背景色 */
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 15px;
    overflow: auto;
    font-family: 'Courier New', monospace; /* 等幅フォントを使用 */
    position: relative;
  }

/* コードブロックのスタイル */
.pre_tag pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap; /* ワード ラップを許可 */
}
