<!DOCTYPE html>
<html>
<head>
    <title>仮想bing</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../footer/footer.css">
</head>
<body>
    <header>
        <a href="../../index.html"><div class="logo">MASSANGO</div></a>
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../about.html">Profile</a></li>
            <li><a href="../../profile.html">Profile(anime)</a></li>
            <li><a href="../../service.html">Services</a></li>
            <li><a href="../../blog.html">Blog</a></li>
          </ul>
        </nav>
      </header>
    <h1>メインウェブサイトのコンテンツ</h1>
    <iframe src="https://bing.com" width="100%" height="750"></iframe>


    <footer class="pane-footer">
      <div class="container">
  
          <div id="footernav" class="block-footernav">
            <ul class="block-footernav--item-list-1">
              <li class="block-footernav--ttl"><a href="index.html">サイト</a></li>
              <li class="block-footernav--content"><a href="about.html">プロフィール</a></li>
              <li class="block-footernav--content"><a href="profile.html">プロフィール(アニメ風)</a></li>
              <li class="block-footernav--content"><a href="service.html">サービス</a></li>
              <li class="block-footernav--content"><a href="blog.html">ブログ</a></li>
              <!--<li class="block-footernav--content"><a href="#">ここに新しい乱を作るにだ</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--other"><a href="#" target="_blank">#</a></li>-->
            </ul>
            <ul class="block-footernav--item-list-1">
              <li class="block-footernav--ttl"><a href="service.html">サービス</a></li>
              <li class="block-footernav--content"><a href="service/sitemap/index.html">サイトマップ作成</a></li>
              <li class="block-footernav--content"><a href="mags.html">MAGs</a></li>
              <li class="block-footernav--content"><a href="3dgs.html">3BGs</a></li>
              <li class="block-footernav--content"><a href="service/keisan/keisan.html">自動計算</a></li>
              <li class="block-footernav--content"><a href="topng.html">topng</a></li>
  
              <!--<li class="block-footernav--ttl block-footernav--other"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>
              <li class="block-footernav--content"><a href="#">#</a></li>-->
            </ul>
            <ul class="block-footernav--item-list-2">
              <li><a href="pagesabout.html">はじめての方へ</a></li>
              <li><a href="form/form.html">お問い合わせ</a></li>
              <!--<li><a href="#">よくある質問</a></li>-->
              <li><a href="sitepolicy.html">ウェブサイトご利用規約</a></li>
            </ul>
            <ul class="block-footernav--item-list-3">
              <li><a target="_blank" href="mags.html"><img src="koukoku/mags_koukoku.png" alt="公式X" width="200px"></a></li>
              <li><a target="_blank" href="https://m1ntooo.com"><img src="https://m1ntooo.com/Banner/m1ntooo.png" alt="m1ntooo" width="200px"></a></li>
              <li><a target="_blank" href="https://rumiserver.com/"><img src="https://rumiserver.com/Asset/rumisan_room/BANNR.png" alt="るみちゃん" width="200px"></a></li>
              <li><a target="_blank" href="topng.html"><img src="koukoku/topng_koukoku.png" alt="topngの広告" width="200px"></a></li>
            </ul>
          </div>
      </div>

</div>
</body>
</html>
