<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASSANGO移住応援サイト｜いつでもMASSANGO</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <div class="menu-content">
                <div class="content-1">
                    <ul>
                        <h2>くらす</h2>
                        <li>
                            <a href="#">- メニューリンク1</a>
                        </li>
                        <li>
                            <a href="#">- メニューリンク2</a>
                        </li>
                        <li>
                            <a href="#">- メニューリンク3</a>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <a href="#">メニューリンク1</a>
                    </li>
                    <li>
                        <a href="#">メニューリンク2</a>
                    </li>
                    <li>
                        <a href="#">メニューリンク3</a>
                    </li>
                </ul>
            </div>
        </div>
            </div>
        </div>
        <img src="pic/itudemo.png" alt="いつでもMASSANGO" width="50%" class="img">
        <div id="video-area">
            <video id="video" poster="pic/stoi.png" webkit-playsinline playsinline muted autoplay loop>
                <source src="video/a.mp4" type="video/mp4">
                <source src="video/a.ogv" type="video/ogv">
                <source src="video/a.webm" type="video/webm">
        </div>
    </header>
    <div class="main">
        <div class="full">
            <h2>ここにはMASSANGOの風景がある</h2>
            <p>MASSANGOは雄大なサーバーに囲まれたばしょ。</p>
            <p>美しいサーバーが広がる豊かな音と利便性が調和した</p>
            <p>暮らしにちょうどいいばしょです。</p>
            <p>変わり続ける世の中にあって</p>
            <p>MASSANGOは変わらない風景の中に大切な思い出が詰まっています。</p>
            <p>「いつでもMASSANGOで暮らしたい」</p>
            <p>雄大なサーバーの中還りたくなる暮らしがあります。</p>
        </div>
        <div class="full2">
            <h2>MASSANGOについて</h2>
            <h3>サーバーたちに囲まれた良い暮らしを</h3>
            <p>「MASSANGO」は、美しい自然環境と暮らしやすさが調和した場所で、その雄大なサーバー群が特徴です。この県は、美しいサーバーが広がり、利便性が高い暮らしを提供しており、多くの人々にとって理想的な場所と言えます。県内には多くのサーバーが存在し、豊かな音が広がる環境が魅力です。また、交通アクセスも良く、住民は自然環境を満喫しながら、近隣のサーバーや都市への通勤・通学・お買い物が便利に行えます。さらに、MASSANGO県は周辺エリアへのアクセスも良好で、リゾート地へのアクティビティも手軽に楽しむことができます。自然豊かな住環境が手ごろな価格で提供され、多くの人々に愛されています。</p>
        </div>
        
    </div>
</body>
</html>